<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443411365486-hncoq1iolcmcrnol7gvtprqqstd0du00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443411365486-hncoq1iolcmcrnol7gvtprqqstd0du00</string>
	<key>API_KEY</key>
	<string>AIzaSyDQpuG6yVtbaowt6DmUWQQ4gYw4bb_BIIU</string>
	<key>GCM_SENDER_ID</key>
	<string>443411365486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.productdemo</string>
	<key>PROJECT_ID</key>
	<string>productdemo-7202b</string>
	<key>STORAGE_BUCKET</key>
	<string>productdemo-7202b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443411365486:ios:6c07d44a4463b602d2707f</string>
</dict>
</plist>